:root {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --text-primary: #000000;
    --text-secondary: #ffffff;
    --text-highlighter: #ffd234;
    --bg-primary: #ffffff;
    --bg-secondary: #000000;
    --bg-highlighter: #ffd234;
    --transition-speed: 700ms;
}

body {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    margin: 0;
    padding: 0;
}
.topbar{
    margin:0;
}
.topbar-menu{
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    font-size:large;
    height: 4rem;
    width: 100vw;
    margin-top: 0%;
}
.topbar-menu-item a{
    text-decoration: none;
    margin-right: 3rem;
}
.sidebar-menu{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 3rem; 
    height: 100vh; 
    position: fixed;
    gap:2rem;
    font-size:1rem;
}
.sidebar-menu-link{
    text-decoration: none;
}
 /* .sidebar{
    width: 5rem;
    height: 100vh; 
} */
h1,h3{
    color: #ffd234;
}
::-webkit-scrollbar{
    width: 0.3rem;
}
::-webkit-scrollbar-track{
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
    background-color: #ffd234;
}
/* @media screen and (max-width:200px){
    .sidebar{
        flex-direction: row;
    }
} */
