:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --text-highlighter: #ffd234;
  --bg-primary: #ffffff;
  --bg-secondary: #000000;
  --bg-highlighter: #ffd234;
  --transition-speed: 700ms;
}

body {
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  margin: 0;
  padding: 0;
}
  
body{
  scrollbar-width: normal;
  scrollbar-color: rgb(182, 94, 94) rgb(177, 177, 185) ;
}

body::-webkit-scrollbar {
 width: 10px;
 height: 10px;
}
 body::-webkit-scrollbar-track{
   background-color: #fa92c6;
 }
 body::-webkit-scrollbar-thumb:vertical{
   height: 20px;
   background-color: #ffffff;
 }


 .topbar{
  position: fixed;
  height: 5rem;
  width:  20 rem;
  background-color: rgb(244, 247, 240);
  
}

.topbar-menu{
 display: flex;
 flex-direction: row;

 list-style: none;
 margin: 0;
 padding: 0;
 width: 100%;
 justify-content: flex-end;
 margin-right: 60rem;
}

.topbar-menu-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
  

}


.topbar-menu-link-text{
  display:flex;
  flex-direction: row;

}

.topbar:hover .topbar-menu-link-text {
  display: flex;
  background: rgb(206, 176, 176);
  align-items: flex-end;
  transform: scale(1);
  transition: 1s;
}
.topbar-menu-item{
  width: 7rem;
}

.topbar-menu-item:hover{
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.sidebar {
   position: fixed;
   background-color: #fcf8f8;
   width: 5rem;
   height: 100vh;
   transition:all 1s;
   top: 0;
   left: 0;
 }
 
 .sidebar-menu{
   display: flex;
   color: rgb(113, 177, 177);
   font-size: 20px;
   flex-direction:column;
   height: 100%;
   margin: 0;
   padding: 0;
  
 }
 .sidebar-menu-link{
   color: #0c0b0c;
   height: 5rem;
   text-decoration: none;
   display: flex;
  align-items: center;
 }

 .sidebar-menu-item:last-child{
  margin-top: auto;
}

 .sidebar-menu-link svg {
    width: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  
 }
 
 .sidebar-menu-link:hover svg {
fill: var(--bg-highlighter);
background-color: var(--bg-secondary)
color:(var(--text-secondary))

}

.sidebar:hover .sidebar-menu-link-text{
  display: inline;
  
}

 .sidebar:hover{
  width: 15rem;
  background-color: #f1b0c4;
 }

 .sidebar-menu-link-text {
  display: none;
}

  @media only screen and (max-width:600px){
    .topbar (
      bottom: 0;
    
    )
  }

  


 .logo{
   color: var(--text-secondary);
   margin-bottom: 1rem;
   text-align: center;
   font-size: 1.5rem;
   width: 100%;
   letter-spacing: 0.3ch;
   background-color: var(--bg-secondary);

 }

 .logo svg {
   fill: var(--text-highlighter);
   transform: rotate(0deg);
   transition: var(--transition-speed);

 }
 
 .logo-test{
   position: absolute;
   display: inline;
   left: -999px;
   transition: var(--transition-speed);
   color: var(--text-secondary);
 }
 
 .hamburger-menu{
   display: none;
 }
 
 @media only screen and { max-width:600px} {
   .sidebar {
     bottom: 0;
     width: 100vw;
     height: 5rem;
   }
 }

  h1{
    color: #ff849f;
  }

  h3{
    color: #f5bcd2;
  }

  main{
    text-align:left;
    margin-left: 5rem;
    padding: 1rem;
  }

  ul {
    list-style: none;
  }