:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --text-highlighter: #ffd234;
  --bg-primary: #ffffff;
  --bg-secondary: #000000;
  --bg-highlighter: #ffd234;
  --transition-speed: 700ms;
}

body {
  color: var(--text-secondary);
  background-color: var(--bg-secondary);
  margin: 0;
  padding: 0;
}

h1,h3 {
  color: var(--text-highlighter);
}

body::-webkit-scrollbar {
   width: 0.25rem;
}

body::-webkit-scrollbar-track {
   background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
background: var(--bg-highlighter);   
}

main {
  margin-top: 5rem; 
  margin-left: 5rem;
  padding: 1rem;
}

.sidebar {
  top: 0;
  width: 5rem;
  height: 100vh;
  position: fixed;
  width: 5rem;
  background-color: var(--bg-primary);
  transition: width 600ms ease;

}

/* L */

.sidebar:hover {
  width: 15rem;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

}

.sidebar-menu-item {
  width: 100%;
}
.sidebar-menu-item:last-child {
  margin-top: auto;
}
.sidebar-menu-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none; /* removes underline */
  filter: grayscale(100%) opacity(0.2);
  transition: var(--transition-speed);
}

/* L */
.sidebar:hover .sidebar-menu-link-text {
  display: inline;
}

.sidebar-menu-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--bg-secondary);
  color: var(--text-secondary) ;
}
.sidebar-menu-link:hover svg {
  fill: var(--bg-highlighter);
}

.sidebar-menu-link-text {
  display: none;
  margin-left: 1rem;
}

.sidebar-menu-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  fill: var(--text-secondary);
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
  color: var(--text-secondary);
}

.sidebar:hover .logo svg {
  margin-left: 12rem;
  transform: rotate(-180deg);
}
.sidebar:hover .logo-text {
  left: 0.5rem;
}

.hamburger-menu {
  display: none;
}

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 5rem;
  width: 100vw;
  background-color: var(--bg-primary);
transition: width 600ms ease;
}

.topbar-menu {
  list-style: none;

  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-right: 10rem;

}
.topbar-menu-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none; /* removes underline */
  filter: grayscale(100%); opacity(0.2);
  transition: var(--transition-speed);   


}
.topbar-menu-item

/* small */
@media only screen and (max-width:600px) {
 .sidebar {
   top: 0;
   width: 5rem;
   height: 100vh;
 } 
}